a{
    color: #dc143c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

#homeLink{
    font-weight: bold;
}

.paraBg{
    background-color: #ffbfcc;
    margin:10px;
}

.paraBorder{
    border:1px solid black;
}

.borderOverride{
    border-color: #0eff0e;
}

